@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

.Plus-Jakarta-Sans {
    font-family: "Plus Jakarta Sans";
}

.pointer {
    cursor: pointer !important;
}

.grey {
    color: rgba(82, 82, 82);
}

.pt-60 {
    padding-top: 60px;
}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.mb-60 {
    margin-bottom: 60px;
}


.pe-72 {
    padding-right: 72px;
}

.fs-14 {
    font-size: 14px;
}

.fs-20 {
    font-size: 20px;
}

.fw-500 {
    font-weight: 500;
}

.fs-16 {
    font-size: 16px;
}


.ms-600 {
    margin-left: 600px;
}

.mt-100 {
    margin-top: 100px;
}

.section-1,
.section-2,
.section-3,
.section-4,
.section-5,
.section-6 {
    margin-bottom: 140px;
}

.container-large {
    max-width: 1440px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.container-xl {
    max-width: 1140px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
}

nav li {
    display: inline-block;
    position: relative;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* .navbar-nav {
    margin-left: auto;
    margin-right: auto;
} */

nav li.nav-item>a {
    font-weight: 500;
    line-height: 20.16px;
    color: rgba(255, 255, 255, 1) !important;
    transition: color 0.3s ease;

}

.navbar {
    --bs-navbar-padding-y: 23px !important;
}

.nav-link:hover {
    color: rgba(219, 26, 0, 1) !important;
}


button[aria-expanded="false"] span.lines {
    display: block !important;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAWlBMVEUAAAD///8ODg6ysrLg4ODU1NQsLCz7+/tVVVXNzc2tra3m5uZubm7w8PCUlJQgICCMjIydnZ2GhoZ5eXk6OjpmZmbp6ekbGxvZ2dlISEhdXV1RUVFtbW1HR0epbh9vAAABx0lEQVR4nO3d2W4iMRAFUGdpEggEyEYImf//zckMGmkey26Jks05X3Cvml4sFXYpAAAAAAAAAAAAABdy24umdi/TTU+ml8p+60125GqbdU3B5+y4TZ7jBV+zszZ6jRZcPGRHbfSwCDZcZSdttgo27O8p888mVvAtO+cMb6GG79kxZ3gPNVxnx5wh9k58zI45w2Oo4TY75gzbUMPS1xfp/6ZYwY5vxPCn6TI7aaNltGC5/cjO2uSjYp14+MxO2+DzEC/4Y9fbp9tmV9Xvj9N+ddeL1f5U3Q8AAAAAAAAA4IKO++m+H9P+WNlv29/g17JqYKjPEdPYcOlfp+ysjeK/1KfsqI2eogV32UmbRWfber2E4Yu4yM45Q+xvQV/ZMWf4CjXsd8w7Oug9/jUc/z7s+Fl6Hyt4Be/Dbi9i+JumHLOjNqpYQQ2/tijlMPr6sPS3xv9V2Q8AAAAAAAAA4KJG3/ty9P1Lh9+Ddvx9hPsb+ToL7wXd76B3dD/v4fdkH39f/T6HS89iI6b93obRG3H8M0rGP2dm/LOCruC8p/HP7Br/3LUrODuvlO/+njab75qCZfwzLM+yjxcNa2oHAAAAAAAAAAAA0OA3/sM6tcEPRqoAAAAASUVORK5CYII=);
    width: 2rem;
    height: 2rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: black !important;
}

img[alt="cross"] {
    mix-blend-mode: normal;
}

button[aria-expanded="false"] span.cross {
    display: none !important;
    width: 1.5rem;
    height: 1.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

/* section-1 */
.section-1 {
    background-image: url(../img/hero-section-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 50px;
}

.section-1 .heading {
    max-width: 588px;
    font-size: 64px;
    font-weight: 800;
    line-height: 76.8px;
    top: 50%;
    transform: translateY(-50%);
}

.mini-btn {
    right: 70px;
    bottom: 20px;
    gap: 10px;
    font-weight: 400;
    letter-spacing: 0.05em;
}

/* section-2 */

.section-2 {
    margin-top: 100px;
}

.section-2-about,
.section-3-our,
.section-4-our {
    font-size: 14px;
    font-weight: 600;
    line-height: 18.9px;
    text-transform: uppercase;
}

.section-2 .heading {
    font-size: 48px;
    font-weight: 800;
    line-height: 57.6px;
}

.section-2 {
    ul {
        padding-left: 20px;
    }
}

.see-more-btn {
    background-color: transparent;
    padding: 20px 66.5px;
    border: 1px solid rgba(9, 8, 8, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 20.16px;
}

.see-more-btn:hover,
.see-all-btn:hover,
.submit-btn:hover {
    background-color: #000;
    color: #fff;
}

/* section-3 */


.services {
    font-size: 48px;
    font-weight: 800;
    line-height: 57.6px;
}

.see-all-btn {
    font-size: 16px;
    font-weight: 500;
    line-height: 20.16px;
    padding: 20px 43.5px;
    background-color: transparent;
    border: 1px solid rgba(9, 8, 8, 1);
}


img[alt="section-3 images"]:hover {
    opacity: 0;
    animation: fadeIn 200ms forwards;

}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}




/* section-4 */


.hide {
    padding-right: 20px;
}

.bg-img {
    border-bottom: 1px solid rgba(179, 179, 179);
    border-top: 1px solid rgba(179, 179, 179);
}

.section-4-p {
    color: rgba(58, 58, 58);
}

.section-4-h {
    font-size: 36px;
    font-weight: 600;
    line-height: 43.2px;
}

.bg-img:hover {
    background-image: url(../img/section-4img.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 2s;


    .section-4-p {
        color: white;
        transition: 2s;

    }

    .hide {
        background-color: white !important;
        fill: #fff !important;
        stroke: #fff !important;
    }

}

.content-box {
    top: 50%;
    transform: translateY(-50%);
}

/*section-5  */

.tangible {
    font-size: 48px;
    font-weight: 800;
    line-height: 57.6px;
}

.section-5 .card {
    border-radius: 0%;
}

.card-svg:hover {
    border-radius: 50px;
    border: 2px solid black;
}

.section-5 .card {
    padding: 18px;
}

.section5-h {
    font-size: 48px;
    font-weight: 800;
    line-height: 57.6px;
}

.section5-p {
    font-size: 14px;
    font-weight: 400;
    line-height: 21.7px;
}

.section-5 {
    .card:hover {
        box-shadow: 0px 0px 10px black;
    }
}

/* section-6 */
.input {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0px;
    padding: 18px !important;
}


.section6-subheading {
    font-size: 14px;
    font-weight: 600;
    line-height: 18.9px;
}

.form-message {
    resize: none !important;
}

.submit-btn {
    padding: 20px 75px;
    border: 1px solid rgba(9, 8, 8, 1);
    background-color: transparent;
}

::placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 21.7px;
    color: rgba(58, 58, 58) !important;
}


/* footer */
.footer {
    background-color: rgba(8, 8, 8) !important;
}

.icon-box {
    width: 40px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3)
}

.footer {
    padding-top: 50px;

    ul {
        padding: 0;
        margin: 0;
    }

    li {
        padding: 0;
        margin: 0;
        list-style: none;
        padding-bottom: 10px;
    }

    a {
        text-decoration: none;
        color: rgba(206, 206, 206);
        font-size: 14px;
        font-weight: 400;
        line-height: 21.7px;
    }

    .text-206 {
        color: rgba(206, 206, 206);
    }

    .footer-copy {
        color: rgba(156, 156, 156);
    }

    .footer-line {
        color: rgba(82, 82, 82);
    }
}

@media (min-width:992px) {
    .nav-logo {
        left: 50%;
        top: 6px;
        transform: translateX(-50%);
    }

    nav li {
        padding-left: 35px;
    }

    .me-220 {
        margin-right: 220px !important;
    }

    .ms-200 {
        margin-left: 200px !important;
    }


}

@media (max-width:992px) {
    .nav-logo {
        right: 15px;
        top: 15px;
    }

    .mb-lg-24 {
        margin-bottom: 24px;
    }

    .mb-24 {
        margin-bottom: 24px;
    }

    .flex-col-reverse {
        flex-direction: column-reverse;
    }

    .ms-600 {
        margin-left: 200px;
    }
}

@media (max-width:768px) {

    .services,
    .tangible {
        font-size: 32px;
        line-height: 40px;
    }

    .submit-btn {
        width: 100%;
    }

    .hide {
        display: none;
    }

    .mb-20 {
        margin-bottom: 20px !important;
    }
}

@media (max-width:500px) {

    .see-all-btn,
    .see-more-btn {
        width: 100%;
    }

}


@media (max-width:576px) {
    .section-1 .heading {
        font-size: 45px;
        line-height: 50.8px;
    }

    .section-2 .heading {
        font-size: 32px;
        line-height: 40px;
    }

    .section-4-h {
        font-size: 28px;
    }

    .ms-600 {
        margin-left: 100px;
    }
}